@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
  height: min-content;
  background-color: #151d20;
  background-image: url(./images/pears.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.color-pears {
  color: #fce131;
}

.color-grey {
  color: rgb(185, 184, 184);
}

.bg-bg {
  background-color: #151d20;
}

.bg-yellow {
  background-color: #fce131;
}

.bg-grey {
  background-color: rgb(185, 184, 184);
}

.bg-gradient {
  background: linear-gradient(rgba(106, 133, 166, 0.25), rgba(217, 217, 217, 0.37));
}

.skill {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  border: #fce131 2px solid;
}

.project-block {
  padding: 30px 0;
  margin: 10px;
  border-radius: 15px;
  border: #fce131 2px solid;
}

.icon {
  cursor: pointer;
  color: #fce131;
  transition: 1s all;
}

.icon:hover {
  color: white;
  transform: translateY(-10px);
  box-shadow: inset 0px 0px 120px 10px rgba(255, 255, 255, 0.143), 0px 0px 120px 10px rgba(255, 255, 255, 0.605);
}

.offer {
  box-shadow: 0px 0px 160px 10px #fce131;
  height: max-content;
  width: max-content;
}

.menu-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 28px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 30;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}

.menu-btn>span::before {
  content: '';
  top: -8px;
}

.menu-btn>span::after {
  content: '';
  top: 8px;
}

.menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  z-index: 20;
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu-item:hover {
  background-color: #CFD8DC;
}

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked~.menu-btn>span {
  transform: rotate(45deg);
}

#menu-toggle:checked~.menu-btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu-toggle:checked~.menu-btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu-toggle:checked~.menubox {
  visibility: visible;
  right: 0;
}